@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  padding-bottom: 220px;
  background-color: #8bbabb;
  
}

.App-header { 
  background-color: #263040;
  height: 150px;
  padding: 20px;
  color: white;
  margin-top: 10px;
}

.App-intro {
  font-size: large;
}

h2 {
  margin-top: 54px;
}

.k-circle {
  background: crimson;
  opacity: 0.2;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.k-circle-active {
  background:  red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  border-color: black;
}

.pad {
  font-size: 11px;
  margin-left: 54px;
  margin-top: 4px;
  padding-top: 4px;
}

.sd-circle {
  background: rgb(243, 197, 113);
  opacity: 0.2;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  margin-left: 10px;
}

.sd-circle-active {
  background: #e36230;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  margin-left: 10px;
  border-color: black;
}

.hh-circle {
  background-color: #e8e4a9;
  opacity: 0.2;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  margin-left: 10px;
}

.hh-circle-active {
  background:#ebdd10;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  margin-left: 10px;
  border-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color:#373d47;
  padding: 50px;
  margin-right: 95px;
  margin-left: 95px;
  margin-top: 50px;
  border-radius: 5px;
}

.grid-container > div {
  background-color: #faf6e9;
  text-align: center;
  padding: 40px 0;
  font-size: 30px;
  border-radius: 5px;
}

.button-container {
 justify-content: center;
}

.button-container button:hover {
  background-color: orangered;
}

.child {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px; 
  margin-left: 10px;
  background-color: orange;
  color: black; 
  border-color: #373d47;
  border-radius: 5px;
  border-width: 3px;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
          width: 130px;
}